.content-wrapper-board {
    display: block;

    max-width: 90%;
    margin: 0 auto;

    @include for-phone {
       padding: 20px 0px;
    }

    h3 {
        text-align: right;
        overflow-wrap: break-word;
        @include font($size: 2.4rem, $family: $fontComfortaa, $weight: 700);
        @include for-tablet {
            @include font($size: 1.9rem, $family: $fontComfortaa, $weight: 700);
        }
        @include for-phone {
            @include font($size: 1.2rem, $family: $fontComfortaa, $weight: 700);
            text-align: center;
        }
        @include for-small-phone {
            @include font($size: 1rem, $family: $fontComfortaa, $weight: 700);
        }
    }

    .ui.tab.active{
        background-color:rgba(0,0,0,.05);
    }
}

.board-card {
    h4{
        @include font($size: 1.6rem, $family: $fontComfortaa, $weight: 700);
        margin-bottom: 5px;
    }
    p {
        @include font($size: 1.4rem, $family: $fontRoboto, $weight: 400);
    }
    .board-extra p {
        text-align: center;
        @include font($size: 1.4rem, $family: $fontRoboto, $weight: 700);
    }
    .meta{
        text-align: center;
    }
}

 
  .ui.card.board-single  {
        width: 65% !important;

        @include for-desktop-up {
            width: 40% !important;
        }

        @include for-tablet {
            width: 50% !important;
        }
        @include for-phone {
            width: 90% !important;
        }
    }

.boardTab .grid{
    @include for-phone {
        flex-direction: column-reverse;
        &>[class*="five wide"].column,&>[class*="eleven wide"].column {
            width: 100% !important;
        }
    }
}